<div class="header-item">
    <header>
        <div class="header-container">
            <!-- Left side of the header-->
            <div class="header-left">
                <!--LOGO-->
                <div class="header-logo">
                    <a href="/"><img id="logo" src="https://i.imgocean.com/cofeed-3888275e2301b4b27.png" alt="cofeed-3888275e2301b4b27.png"/></a>
                </div>
    
                <!-- SEARCH BAR -->
                <form action="/search" method="GET">
                    <div class="header-search">
                        <input class="search-bar" type="text" name="key" placeholder="Coffee shop, study area, etc...">
                        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>

            </div>

            <div class="header-right">
                <!--HOME BUTTON-->
                <div class="header-button-home-">
                    <a class="header-text" href="/">Home</a>
                </div>
                
                <!--LIST OF ESTABLISHMENTS-->
                <div class="header-button-establishments">
                     <a class="header-text" href="/viewEstablishments">View Establishments</a>
                </div>

                <!--LOGIN BUTTON-->
                <div class="header-login-button">
                    <div class="login-box">
                        <a class="header-text login" href="/login">Login</a>
                    </div>
                </div>
        
                <!--SIGN UP BUTTON-->
                <div class="header-signup-button">
                    <div class="signup-box">
                        <a class="header-text signup" href="/registration">Sign Up</a>
                    </div>
                </div>
        
            </div>
        </div>
    </header>
</div>
