<div class="widget-container" id="followers-widget">
    <span class="close-btn" onclick="hideFollowers()">x</span>
    <div class="followers-title">Followers</div>
    {{#each user.followers}}
    <div class="follower">
        <a onclick="redirectToProfile('{{this}}')">@{{this}}</a>
    </div>
    {{/each}}
</div>

<div class="widget-container" id="following-widget">
    <span class="close-btn" onclick="hideFollowing()">x</span>
    <div class="following-title">Following</div>
    {{#each user.following}}
    <div class="following">
        <a onclick="redirectToProfile('{{this}}')">@{{this}}</a>
    </div>
    {{/each}}
</div>