<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>

	<!--this fixes a lot of issues idk why-->
	<base href="/">

	<!-- css files -->
	<link rel="stylesheet" type="text/css" href="./style.css"/>
	<link rel="stylesheet" type="text/css" href="./headerFooter.css"/>
	<link rel="stylesheet" type="text/css" href="./viewEstablishments.css"/>
	<link rel="stylesheet" type="text/css" href="./registration.css"/>
	<link rel="stylesheet" type="text/css" href="./establishment.css"/>
	<link rel="stylesheet" type="text/css" href="./homePage.css"/>
	<link rel="stylesheet" type="text/css" href="./landingPage.css"/>
	<link rel="stylesheet" type="text/css" href="./profilePage.css"/>

   	<!-- javascript file -->
	<script src="/script.js"></script>
	<script src="/userScript.js"></script>
	<script src="/viewEstablishmentScript.js"></script>
	<script src="/establishmentScript.js"></script>

	<!-- stylesheet for icons etc. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- stylesheet for fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<div class="body-container">
	{{{body}}}
	</div>
</body>
</html>