<body class="registration-body">
<!-- container for the content -->
<div class="parent-content-reg">
    
    <div class="left-reg">
        <div class="img">
            <img class="logo" src="https://i.imgocean.com/cofeed-29d40fe6757258600.png" alt="cofeed-3888275e2301b4b27.png"/>
        </div>

        <div class="details">
            <p class="greeting"><b>Welcome back,</b></p>
            <p class="greeting"><b>Brew Buddy!</b></p>
            <p class="tagline">Ready to Sip, Share, and</p>
            <p class="tagline">Discover the Perfect Pour?</p>
        </div>
    </div>

    <div class="vertical-line-reg"></div>
    
    <div class="right-reg">
        <p class="main"><b>Forgot Password</b></p>
        <form name="main-form" method="get">
            <div class="form-group">
                <input type="text" name="email-field" placeholder="Enter your email for verification">
            </div>
            <input type="submit" value="Send Email">
        </form>
    </div>

</div>

</body>