<body class="registration-body">
    
<!-- container for the content -->
<div class="parent-content-reg">
    
    <div class="left-reg">
        <div class="img">
            <img class="logo" src="https://i.imgocean.com/cofeed-29d40fe6757258600.png" alt="cofeed-3888275e2301b4b27.png"/>
        </div>

        <div class="details">
            <p class="greeting"><b>Welcome back,</b></p>
            <p class="greeting"><b>Brew Buddy!</b></p>
            <p class="tagline">Ready to Sip, Share, and</p>
            <p class="tagline">Discover the Perfect Pour?</p>
        </div>
    </div>

    <div class="vertical-line-reg"></div>
    
    <div class="right-reg">
        <p class="main"><b>Forgot Password</b></p>
        <form name="forgot-password-form" action="/forgot-password" method="post" onsubmit="return submitForgotPasswordForm()">
            <div class="form-group">
                <input name="username" id="username-field" type="text" placeholder="Enter your username">
            </div>
            <div class="form-group">
                <input name="password" id="password-field" type="password" placeholder="Enter new password">
                <img src="https://i.imgocean.com/eye-close6c91a6ac25495e1f.png" alt="eye" id="toggle-password" onclick="togglePasswordVisibility('password-field', 'toggle-password')">
            </div>
            <input type="submit" class="registration" value="Change Password">
        </form>
    </div>

</div>

</body>