<body class="registration-body">
    
<!-- container for the content -->
<div class="parent-content-reg">
    
    <div class="left-reg">
        <div class="img">
            <img class="logo" src="https://i.imgocean.com/cofeed-29d40fe6757258600.png" alt="cofeed-3888275e2301b4b27.png"/>
        </div>

        <div class="details">
            <p class="greeting"><b>Welcome back,</b></p>
            <p class="greeting"><b>Brew Buddy!</b></p>
            <p class="tagline">Ready to Sip, Share, and</p>
            <p class="tagline">Discover the Perfect Pour?</p>
        </div>
    </div>

    <div class="vertical-line-reg"></div>
    
    <div class="right-reg">
        <p class="main"><b>Login</b></p>
        <form name="read-user" action="read-user" method="post" onsubmit="return submitLoginForm()">
            <div class="form-group">
                <input name="username" id="username-field" type="text" placeholder="Username"></input>
            </div>
            <div class="form-group">
                <input name="password" id="password-field" type="password" placeholder="Password"></input>
                <img src="https://i.imgocean.com/eye-close6c91a6ac25495e1f.png" alt="eye" id="toggle-password" onclick="togglePasswordVisibility('password-field', 'toggle-password')">
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <input type="submit" class="registration" value="Login"></input>
        </form>
        <p class="forgot-page"><a href="/forgotpassword">Forgot Password?</a></p>
        <p class="signup-page"><a href="/registration">Don't have an account yet? Create an account</a></p>
    
    </div>

</div>

</body>