<!-- container for the header -->
<div class="parent-header">
    {{#if isLoggedIn}}
        {{> headerUser}}
    {{else}}
        {{> headerNonUser}}
    {{/if}}
</div>

<!-- container for the content -->
<div class="parent-content-profile">
    <!-- profile information -->
    {{> profileInfo}}

    <!-- following and followers -->
    {{> widgetProfile}}

    <!-- user's favorite place and reviews -->
    {{> profileInsights}}
</div>

<!-- container for the footer -->
<div class="parent-footer">
    {{> footer}}
</div>