<body class="registration-body">

<div class="parent-content-reg">
        
        <div class="left-reg">
            
            <div class="img">
                <img class="logo" src="https://i.imgocean.com/cofeed-29d40fe6757258600.png" alt="cofeed-3888275e2301b4b27.png"/>
            </div>
            
            <div class="details">
                <p class="greeting"><b>Welcome,</b></p>
                <p class="greeting"><b>Brew Buddy!</b></p>
                <p class="tagline">Ready to Sip, Share, and</p>
                <p class="tagline">Discover the Perfect Pour?</p>
            </div>
        
        </div>
        
        <div class="vertical-line-reg"> </div>
        
        <div class="right-reg">
            
            <div class="headline">
                <p class="main2"><b>Choose Your Avatar</b></p>
            </div>
           
            <div class="avatar-container">
               
               <div class="avatar">
                    <img src="https://i.pinimg.com/564x/37/99/d4/3799d446e8102789275a71dba0984003.jpg" alt="Avatar 1">
                </div>
                
                <div class="avatar">
                    <img src="https://i.pinimg.com/474x/ac/0e/93/ac0e936f93d49a393687d99737aea5bc.jpg" alt="Avatar 2">
                </div>
                
                <div class="avatar">
                    <img src="https://i.pinimg.com/564x/1e/ca/82/1eca82fe3024f777a2b1b6d746cc17e5.jpg" alt="Avatar 3">
                </div>
            
            </div>
            
            <div class="avatar-container">
                
                <div class="avatar">
                    <img src="https://i.pinimg.com/564x/eb/e4/44/ebe444501cd86331d11649300026ab4b.jpg" alt="Avatar 4">
                </div>
                
                <div class="avatar">
                    <img src="https://i.pinimg.com/564x/ac/14/2a/ac142a8763f949d37a89ac4fb6bcf528.jpg" alt="Avatar 5">
                </div>
                
                <div class="avatar">
                    <img src="https://i.pinimg.com/564x/a5/5b/f9/a55bf9c68d7742a56421c894b00297a2.jpg" alt="Avatar 6">
                </div>
            
            </div>
            
            
            <div class="bio">
                <form name="create-user" onsubmit="return redirectToLoginPage()" method="post">
                    <div class="form-group">
                        <input type="text" name="bio-field" placeholder="Add Short Description (optional)">
                    </div>
                    <input type="submit" value="Registration Complete">              
                </form>
            </div>
        </div>
    </div>

</body>